body{ 
    font-family:'Sofia Sans', sans-serif;
    background-color: rgb(211, 205, 205);

}

#header{
    background-color: rgb(245, 176, 199);
    color: white;
    height: 15rem;
    
    
}
.nombre{
    padding-left: 0rem;
    padding-top: 3rem;
    margin-top: 3rem;
}

#foto{
    
    padding: 1rem;
    margin-top: 0rem;
    border-radius: 85px;
}

button{
    background-color: rgb(204, 105, 243);
    border-radius: 10px;
    border: none;
    height: fit-content;
    width: 12rem;
    color: aliceblue;
    padding: 0.8rem;
    font-size: larger;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;

}
h4{
    margin-top: 1rem;
}

#head{
    font-size: 1.5rem;
}
#progres{
    background-color: rgb(196, 191, 191);
    border-radius: 50px;
    height: 8px;
}
footer{
    margin-top: 4rem;
    padding-left: 1rem;
}
ul{
    list-style: none;
}